.topnav {
    overflow: hidden;
}
.buttonTicket{
    margin-top:15px;
    margin-left:7px;  
    margin-bottom: 5px;
    width: 150px; 
    height: 35px;  
    background-color: #800080; 
    color: white;
    border:none;
    padding: 2px
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: inherit;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: 2px solid grey;
    width: 500px;

}

.helpTabs h5{
    text-align: center;
    margin: 60px 10px 60px 10px;
}
.helpTabs{
    margin: 10px 10px 10px 10px;
    height: 150px;
    border: 1px solid black;
    display: inline-block;
    width: 150px;
    text-align: center;
}

