
.headerpane{
    width:99.7%;
    height: 60px;
    margin: 0px 3px 15px 2px;
    border: 1px solid black;
  }
  .commonLinks{
    display: inline-block;
    background-color: black;
    width: 83%;
    height: 35.5px;
    margin-right: 2px;
    margin-top: 7px;    text-align: center
  }
  .commonLinksButton{
    width: 10%;
    height: 35px;
    display: inline-block; 
    background-color: black;
    float: left;
    border: none;
    color: white;
    text-align: center;
  
  }
  
  
  .headerLogo{
    width: 10%;
    display: inline-block;
    height: 35px;
    text-align: left;
    border: 1px solid black;

    margin: 7px 2px 7px 0px;
  
  }
  
  
