.headerpane {
  width: 99.7%;
  height: 60px;
  margin: 0px 3px 15px 2px;
  border: 1px solid black;
}
.commonLinks {
  /*display: inline-block;
  margin-top: 7px;
  */
  background-color: black;
  height: 42px;
  margin-right: 45px;
  margin-left: 190px;

  text-align: center;
}
.commonLinksButton {
  width: 10%;
  height: 35px;
  display: inline-block;
  background-color: black;
  float: left;
  border: none;
  color: white;
  text-align: center;
}

.headerLogo {
  width: 190px;
  float: left;
  height: 42px;
  text-align: left;
  /*border: 1px solid black;
  margin: 7px 2px 7px 0px;
  display: inline-block;*/

  background: url(/logo.png) no-repeat;
  text-indent: -9999px;
}
